[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

Environment=CATALINA_HOME=/d01/tomcat
ExecStart=/d01/tomcat/bin/startup.sh
ExecStop=/d01/tomcat/bin/shutdown.sh

Restart=on-failure

User=tomcat

Group=tomcat